<div class="header" id="mainheader">
    <h1>Bridjet Mendyuk</h1>
    <p>Writer/Journalist</p>
    <p>Public Relations Professional</p>
    <p>Media Buyer/Planner</p>
</div>

<h2 id="experience">Experience</h2>
<div class="content" id="content1">
    <h3><strong>Music Journalist</strong></h3>
    <h3><em>Freelance</em></h3>
    <h4><em>2014-Present</em></h4>
    <p>Currently a freelance writer for Substream Magazine, 
    Alternative Press Magazine, VICE Noisey, Ruby Hornet, 
    New Noise Magazine, and Highlight Magazine. I write 
    album reviews, feature articles, and interviews with 
    popular indie, metal, rock, and pop bands.</p>

    <h3><strong>Fitch, Inc.</strong></h3>
    <h3>Columbus, Ohio</h3>
    <h3><em>Studio Coordinator/Executive Assistant</em></h3>
    <h4><em>2015</em></h4>
    <p>I booked travel; filed expense reports and timesheets; 
    scheduled meetings, phone calls, and conferences; ordered supplies; and so on.
    I also assisted the marketing department with their campaigns by scheduling
    appointments with clients and setting up tech for virtual meetings. 
    In addition, I was the Personal Executive Assistant to the Dell Global 
    Creative Director of the Americas and to the Fitch Creative Director of the Americas.</p>

    <h3><strong>Ohio Housing Finance Agency (OHFA)</strong></h3>
    <h3>Columbus, Ohio</h3>
    <h3><em>Media Buyer/Event Coordinator</em></h3>
    <h4><em>2014-2015</em></h4>
    <p>I was a media buyer/planner with a budget of $250,000.
    I contacted Fortune 500 companies about TV and online advertising 
    slots, inserts, and print advertisements. I was the main liaison for
    all media buying inquiries and fundraising spots.</p>

    <h3><strong>Cooper's Hawk Winery</strong></h3>
    <h3>Columbus, Ohio</h3>
    <h3><em>Tasting Room Attendant</em></h3>
    <h4><em>2014-2015</em></h4>
    <p>I sold wine club memberships, conducted wine tastings, helped servers run food, 
    took reservations, handled customer service, and trained new employees.</p>

    <h3><strong>Alternative Press</strong></h3>
    <h3>Cleveland, Ohio</h3>
    <h3><em>Intern</em></h3>
    <h4><em>2013</em></h4>
    <p>I transcribed interviews, did light copy editing and light writing, 
    made news posts, and ran daily social media. I sat in on meetings, 
    arranged publicity during the Vans Warped Tour, kept in touch with publicists
    and record companies about interiews, and assisted my editors with anything they needed.</p>

    <h3><strong>The BG News</strong></h3>
    <h3>Bowling Green, Ohio</h3>
    <h3><em>Editor-in-Chief, Multimedia Editor/Reporter</em></h3>
    <h4><em>2012-2013</em></h4>
    <p>I booked travel; filed expense reports and timesheets; 
    scheduled meetings, phone calls, and conferences; ordered supplies; and so on.
    I also assisted the marketing department with their campaigns by scheduling
    appointments with clients and setting up tech for virtual meetings. 
    In addition, I was the Personal Executive Assistant to the Dell Global 
    Creative Director of the Americas and to the Fitch Creative Director of the Americas.</p>
</div>

<h2 id="projects">Projects</h2>
<div class="content" id="content2">
    <h3><strong>OHFA First Time Homebuyer Campaign</strong></h3>
    <h3><em>Media Buyer/Event Coordinator</em></h3>
    <h4><em>2014-2015</em></h4>
    <p>I scheduled internal personnel for fundraising events to help homeless 
    and single-mother families move into homes. I scheduled sponsorships with these companies
    for the First Time Homebuyer Campaign, and was in charge of booking events, 
    handling advertisements, and acting as a liaison between clients and the agency.</p>

    <h3><strong>iMentor</strong></h3>
    <h3>Chicago, Illinois</h3>
    <h3><em>Mentor for At-Risk Youth</em></h3>
    <h4><em>2016-Present</em></h4>
    <p>I mentor at-risk youth in Chicagoland 6 hours a month through emails,
    monthly visits, and phone calls with high school students to help them
    transition into college.</p>
</div>

<h2 id="education">Education</h2>
<div class="content" id="content3">
    <h3><strong>Bowling Green State University</strong></h3>
    <h3>Bowling Green, Ohio</h3>
    <h3><em><strong>Bachelor of Science in Journalism</strong></em></h3>
    <h3><em>Minor: Communications</em></h3>
    <h4><em>2009-2013</em></h4>
</div>

<h2 id="skills">Skills</h2>
<ul class="list" id="skills-list">
    <li><strong>Photoshop</strong>Expert</li>
    <li><strong>Dreamweaver</strong>Expert</li>
    <li><strong>InDesign</strong>Expert</li>
    <li><strong>HTML/CSS</strong>Expert</li>
    <li><strong>Final Cut Pro</strong>Expert</li>
    <li><strong>Microsoft Office</strong>Expert</li>
    <li><strong>WordPress</strong>Expert</li>
    <li><strong>Google Adwords</strong>Expert</li>
    <li><strong>Google Analytics</strong>Expert</li>
    <li><strong>Outlook</strong>Expert</li>
</ul>

<h2 id="languages">Languages</h2>
<ul class="list" id="languages-list">
    <li><strong>Russian</strong>Fluent</li>
    <li><strong>French</strong>Conversational</li>
</ul>

<h2 id="contact">Contact</h2>
<div class="content" id="content4">
    <p>bjmendy@gmail.com</p>
</div>

<h2 id="blog">Blog</h2>
