@import "bootstrap-sprockets";
@import "bootstrap";
$biscay: #1f316b;
$light-brown: #b36621;
$dairy-cream: #ead2a6;
$java: #1ebfb9;
$ocean-boat-blue: #0079ba;
$aquamarine: #7cffc4;

/*UNIVERSAL*/

.page1, .page2 {
    width: 100%;
    height: auto;
    padding: 0 80px 20px 80px;
}

.page2 {
    padding-top: 45px;
    padding-bottom: 45px;
    background: $biscay;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/*TYPOGRAPHY*/

h1 {
    font-family: Lobster, serif;
    font-size: 5.05em;
    color: $biscay;
    text-align: center;
}

h2, h3, h4, li, a, p {
    font-family: Dosis, sans-serif;
    color: white;
}

h2 {
    font-size: 3.15em;
    text-align: center;
    &:hover {
        color: $dairy-cream;
        cursor: pointer;
    }
}

h3 {
    font-size: 1.85em;
    color: $dairy-cream;
}

h4 {
    font-size: 1.35em;
    color: $java;
}

li, a, p {
    font-family: Dosis, sans-serif;
    font-size: 1.15em;
    color: white;
}


/*FEATURES*/

.header {
    text-align: center;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 95px;
    p {
        color: $ocean-boat-blue;
    }
}

.bj-main {
    height: 315px;
    margin: 23px 0 23px 0;
}

.headshot {
    border: 7px solid $java;
    border-radius: 50%;
    z-index: 2;
    opacity: .92;
}

.content4 {
    p {
        text-align: center;
    }
}